---
interface Props {
    name: string;
    position: string;
    url: string;
    start: string;
    end: string;
    summary: string;
}

// Typography
import TitleH3 from "@/components/Typography/TitleH3.astro";
import Text15 from "../Typography/Text15.astro";
import Text13 from "../Typography/Text13.astro";
import TitleH4 from "../Typography/TitleH4.astro";
import { getTypeParameterOwner } from "typescript";

const { name, position, url, start, end, summary } = Astro.props;
const date = `${start} - ${end}`;
---

<article>
    <header>
        <a href={url}><TitleH3 title={name}/></a>
        <Text15 text={date} marginBottom={0}/>
    </header>
    <TitleH4 title={position} />
    <Text13 text={summary} marginBottom={0}/>
</article>

<style lang="scss">
    article {
        & header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;

            & a {
                text-decoration: none;
                color: inherit;
                border: unset;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
</style>